body{
    background-color: rgb(0, 0, 0);
    height: 150vh;
}
#letsEnd{
    display: none;
}
ul{
    padding-left: 0rem;
}
li{
    list-style: none;
}
input{
    outline: none;
    border: none;
}
.positoning{
    position: fixed;
    top : 150px;
    left: 50%;
    transform: translate(-50%, 0px);
    display: none;
}
.card{
    /* background-color: #ffffff; */
    color: rgb(0, 0, 0);
    box-shadow: 2px 2px 10px black;
}
#inputUlP {
    background-color: rgb(45, 45, 45);
    color: #ffffff;
    padding: 10px 0px;
}
.secound-alert{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 1px 1px #19191980;
    display: none;
}
.secound-alert p {
    padding: 0 10px;
    margin: 0%;
    text-align: start;
    flex-grow: 5;
}
.point{
    cursor: pointer;
}
.fa-circle-check{
    display: block;
    margin: 10px 0px 30px;
    font-size: 4.5rem;
    color: rgb(0, 112, 0);
}
.fa-square-xmark{
    font-size: 3rem;
    margin: 10px;
    color: rgba(0, 0, 0, 0.8);
}