body{
    background-color: rgb(0, 0, 0);
}
ul{
    padding-left: 0rem;
}
li{
    list-style: none;
}
input{
    outline: none;
    border: none;
}
#inputUlP {
    background-color: rgb(45, 45, 45);
    padding: 10px 0px;
}
.secound-alert{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 1px 1px black;
    display: none;
}
.secound-alert p {
    padding: 0 10px;
    margin: 0%;
    text-align: start;
    flex-grow: 5;
}
.point{
    cursor: pointer;
}
.customli{
    background-color: rgb(18, 18, 18);
}